.ui.card .images-block {
    background-color: aquamarine;
}
.ui.card .images-block .profile-image {
    display: block;
    width: 100%;
    height: auto;
    border-radius: inherit;
    object-fit: cover;
}

@media screen and (min-width: 768px) {
    .ui.card .images-block .profile-image {
        height: 15vw;
    }
}

img.company-icon {
    position: relative;
    top: -15%;
    height: 20px;
    width: 20px;
}

.extra-card-data {
    display: none;
}

.ui.card:hover .extra-card-data {
    display: block;
}

.ui.card:hover .images-block .profile-image {
    /*transform: scaleY(0.5);*/
    position: absolute;
    height: 12vh;
    transition: height 0.15s ease-out;;
}

.ui.card:hover {
    position: relative;
}